.accordionDetails {
  padding-left: 46px;
}

.keyResult {
  padding-left: 20px;
  width: 100%;
}

/* .ButtonEdit {
  display: none;
} */

.keyResultBox {
  padding-right: 10px;
}

/* .EditAction {
  display: none;
} */

/* .CreateTask {
  display: none;
} */

.AllActions {
  width: 100%;
  display: flex;
}
.TaskName {
  padding-right: 10px;
}

.AddActionsModule {
  padding-left: 2000px;
}

.taskNameAndStatus {
  padding-top: 10px;
  padding-left: 45px;
}

.ActionPreview {
  display: flex;
  padding-left: 45px;
}
