nav {
  background-color: black;
  padding-left: 20px;
  padding-right: 30x;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 0px;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.nav__projectName {
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding-left: 10px;
}

.authLink {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  margin: 7px;
}

.nav__authLinks {
  display: flex;
  align-items: center;

  color: black !important;
}

.navnameandpic {
  display: flex;
  align-items: center;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: white;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  margin-right: 20px;
  background-color: rgb(146, 45, 247);
  /* box-shadow: 0 0 5px 0 aliceblue; */
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
  position: sticky;
  max-height: 35px;

  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: white;
  color: black;
}

.navbarbottom {
  justify-content: center;
  background-color: rgb(209, 209, 209);
  color: white;
  position: fixed;
  border-top: 1px solid rgb(175, 175, 175);
  bottom: 0;
  width: 100%;
}

.bottomnavtext {
  display: flex;
  align-items: center;
  color: white !important;
}

.avatar {
  border-radius: 50%;
  margin: 12px;
  height: 50px;
  width: 50px;
}
