nav {
  background-color: white;
  padding-left: 20px;
  padding-right: 30x;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 0px;
  border-bottom: 1px solid rgb(175, 175, 175);


}

.nav__projectName {
  color: #000000;
  text-decoration: none;
  font-size: 22px;
  padding-left: 10px;
  
}

.authLink {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
 
}

.nav__authLinks{ 
  display: flex;

  color: black !important
  
}

.navnameandpic{ 
  display: flex;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #000000;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #5595ff;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #2e3236;
  transition: all 0.2s ease-in-out;
  position: sticky;
  max-height: 35px;

  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #d13e3e;
}

